



/* NAVBAR */

.company-logo {
  height: 96px; /* Adjust the height for small screens */
}
.navbar-content-area {
  background-color: #ffffff;
  height: 100px;
  width: 85%;
  padding: 1% 5% 0px 10%;
}

.navbar-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px; /* Adjust the height for small screens */
}

.navbar-page-titles-container {
  display: flex;
  flex-direction: row;
}

.navbar-page-titles {
  display: flex;
  font-display: flex;
  margin: 0px calc(5px + 1vmin) 0px calc(5px + 1vmin);
  font-size: calc(6px + 2vmin);
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #000;
}

/* Title  */

